.wx-bubble.wx-aluyyvxH {
  width: 100%;
  display: flex;
  justify-content: end;
}
.wx-bubble.wx-owned.wx-aluyyvxH {
  justify-content: start;
}
.wx-bubble-wrapper.wx-aluyyvxH {
  width: 65%;
  display: flex;
  justify-content: end;
  gap: 8px;
}
.wx-aluyyvxH .wx-owned .wx-bubble-wrapper {
  width: calc(65% + 28px);
  justify-content: start;
}
.wx-author-name.wx-aluyyvxH {
  margin-left: auto;
}
.wx-aluyyvxH .wx-owned .wx-author-name {
  margin-left: 0;
}
.wx-message.wx-aluyyvxH {
  background-color: var(--wx-comments-msg-background);
  padding: 8px 12px;
  white-space: pre-wrap;
  line-height: 24px;
  border-radius: 6px 0 6px 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wx-aluyyvxH .wx-owned .wx-message {
  background-color: var(--wx-comments-msg-background-agent);
  border-radius: 0 6px 6px 6px;
  width: 100%;
}
.wx-author-name.wx-aluyyvxH {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.wx-agent-message.wx-aluyyvxH {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  cursor: pointer;
}
.wx-menu-icon.wx-aluyyvxH {
  opacity: 0;
  height: 24px;
  color: #9fa1ae;
  cursor: pointer;
  height: 100%;
}
.wx-aluyyvxH .wx-menu-icon i {
  font-size: 24px;
  line-height: 24px;
}
.wx-aluyyvxH .wx-menu-icon:hover {
  color: var(--wx-color-primary);
}
.wx-aluyyvxH .wx-agent-message:hover .wx-menu-icon {
  opacity: 1;
  transition: all 0.2s linear;
}
.wx-main-bubble.wx-aluyyvxH {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.wx-avatar.wx-aluyyvxH {
  height: 32px;
  width: 32px;
}

.wx-bubble.wx-aluyyvxH:not(.wx-owned) .wx-bubble-wrapper {
  flex-direction: row-reverse;
}

.wx-comment-date.wx-aluyyvxH {
  font-size: var(--wx-font-size-sm);
  color: var(--wx-color-font-alt);
  display: flex;
  flex-direction: row-reverse;
}
