.wx-flow.wx-N2LqQbZL {
  width: 100%;
  padding: 16px 20px;
  border-radius: 6px;
}
.wx-flow.owned.wx-N2LqQbZL {
  background-color: var(--wx-comments-msg-background-agent);
}
.wx-flow.wx-N2LqQbZL:hover .wx-menu-icon.wx-N2LqQbZL {
  opacity: 1;
  transition: all 0.2s linear;
}
.wx-flow-toolbar.wx-N2LqQbZL {
  width: 100%;
  display: flex;
  gap: 8px;
}
.wx-message.wx-N2LqQbZL {
  margin-left: 32px;
  line-height: 24px;
  white-space: pre-wrap;
}
.wx-author-name.wx-N2LqQbZL {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.wx-menu-icon.wx-N2LqQbZL {
  color: #9fa1ae;
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
  height: 24px;
}
.wx-menu-icon.wx-N2LqQbZL:hover {
  color: var(--wx-color-primary);
}
.wx-menu-icon.wx-N2LqQbZL i.wx-N2LqQbZL {
  font-size: 24px;
  line-height: 24px;
}
.wx-comment-date.wx-N2LqQbZL {
  margin-left: 32px;
  font-size: var(--wx-font-size-sm);
  color: var(--wx-color-font-alt);
}
