.message.wx-5YqcEBWD {
  padding: 5px 10px;
  background-color: #eee;
  color: #444;
  line-height: 33px;
  height: 40px;
}
.wrapper.wx-5YqcEBWD {
  margin: 20px auto;
  max-width: 768px;
  height: 100%;
}
